.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 2;
    padding: 2% 0;
    border-top: 1px solid #828282;
}
.right-icon {
    padding-right: 5% 
}
.left-icon {
    padding-left: 5% 
}
