body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  background-color: #fff;
  font-family: 'Josefin Sans', Helvetica, sans-serif;
}
h1 {
  text-align: center;
  font-size: 1.4em;
  padding-top: 5px
}
h2 {
  font-size: 1.3em;
}
p {
  font-size: 1em;
}
a {
  text-decoration: none;
  color: inherit
}

