/* Top Bar */
.top-bar {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding-top: 2px;
}

.app {
    padding-top: 80px;
}

/* Bottom Navigation */
.bottom-nav {
    background-color: #fff;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    padding: 2% 0;
    border-top: 1px solid #b1afaf;
}
.right-icon {
    padding-right: 5% 
}
.left-icon {
    padding-left: 5% 
}
