.arrow {
    position: absolute;
    top: 20px;
    left: 15px
}
.add-picture p {
    border: 1px solid #00B7BD;
    display: block;
    margin: 24% auto; 
    text-align: center;
    padding: 5px 10px;
    color: #00B7BD;
    width: 200px;
    box-sizing: border-box;
    border-radius: 5px;
}
#gallery {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
}
.picture {
    margin: 0 auto;
    text-align: center;
    height: 200px;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0; 
}
.field {
    position: absolute;
    bottom: 22%;
    width: 90%;
    right: 0;
    left: 0;
    margin: 0 auto;
}
input[type="text"]{
    display: inline-block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}
input[type="text"]:focus {
    color: #00B7BD;
    border-color: #00B7BD;
    transition:  0.25s ease-out, 0.25s ease-out 0.25s;
}
.submit-button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;   
    bottom: 20px;
}

/* Media queries */
@media screen and (min-width: 700px) {
    .add-picture p {
        padding: 15px 20px;
        font-size: 1.4em;
    }
    .picture {
        margin: 10% auto;
        height: 300px;
        text-align: center;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0; 
    }
    .field p {
        font-size: 1.4em;
    }
    .submit-button {  
        bottom: 25px;
    }

}